services:

    mgilet.notification:
        class: Mgilet\NotificationBundle\Manager\NotificationManager
        arguments: ["@doctrine.orm.entity_manager", "%mgilet_notification.notification_class%"]

    mgilet.twig_extension:
            class: Mgilet\NotificationBundle\Twig\NotificationExtension
            public: false
            tags:
                - { name: twig.extension }
            arguments: ['@mgilet.notification', '@security.token_storage', '@twig']
    
    mgilet.url_listener:
            class: Mgilet\NotificationBundle\Listener\UrlListener
            arguments: ["@mgilet.notification"]
            tags:
                - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }
